nav.navbar,
.navbar-default {
  background-image: none;
  background-color: transparent;
  border: none !important;
  box-shadow: none;
  bottom: 0px;
}
nav.navbar a {
  color: black !important;
  font-weight: 600;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}



